@import 'resets','slider';
.main__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    height:55vh;
    width:21vw;
    margin:auto;
    background-color: rgba(94, 93, 91, 0.5);
    margin-top:7rem;
    border-radius:1.6rem;
    box-shadow: 2px 2px 5px rgb(37, 31, 31);
    color:rgb(235, 225, 225);

    &-songdetail{
        margin : 0.5rem 0 0.5rem 0;
        color:white;
        h3{
            font-weight: 300;
        }
        h5{
            font-weight: 300;
            font-size: 0.85rem;
        }
    }

    .song_image{
       
        img{
            width:11.5rem;
            height:11.5rem;
            border-radius: 50%;
            margin-bottom: 2rem;
            box-shadow: 1px 2px 3px rgb(31, 29, 29);

            &.anime{
                animation:rotatey 8s linear infinite;
            }
        }
    }

    .music_controls{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;

        i{
            &:not(:last-child){
                margin-right: 2rem;
        }

            &.main_btn{
            display:flex;
            justify-content: center;
            align-items: center;
            width:3rem;
            height:3rem;
            background-color: black;
            border-radius: 50%;

            &:hover{
                background-color: white;
                color:black;
                
            }
        }
        }

        .fa-forward,.fa-backward{
            &:hover{
            box-shadow: 2px 2px 5px white;
            }
        }      
    }

    .volumne_controls{
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: -9rem;
        right: 7rem;
        // background-color: rgb(243, 217, 183);
        #sound{
            transform: rotate(270deg);
            width:3.5rem;
            height:2px;
            margin-bottom: 2rem;
            &::-webkit-slider-thumb{
                box-sizing: content-box;
                -webkit-appearance: none;
            }
    
            &:focus{
                outline: none;
            }
        }
        input[type=range]::-moz-range-thumb{
            border:none;
            background-color: black;
            height:14px;
            width:14px;
    
            &:active{
                transform:scale(1.2);
            }
        }

        i{
            color: rgb(7, 7, 7);
        }

    }
}
    

@keyframes rotatey {

    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}

@media (max-width:1300px){
    .main__container{
        width:30%;
    }
}

@media (max-width:960px){
    .main__container{
        margin-top:2rem;
        width:20rem;
    }
}

@media (max-height:710px){
    .main__container{
        height:27rem;
        
    }
}

@media (max-height:500px){
    .main__container{
        flex-direction: row;
        height: 7rem;
        width: 33rem;
        margin-top: 6rem;

        &-songdetail{
            position: relative;
            top: 3rem;
            right: -6rem;

            h5{
                display:none;
            }
        }

        .song_image{
            img{
             width: 7.5rem;
            height: 7.5rem;
            position: relative;
            bottom: 3.7rem;
            }
        }

        .audio-player{
            height: 2rem;
            position: relative;
            top: 2rem;
            right: -1.5rem;
        }

        .music_controls{
            height: 2rem;
            position: relative;
            top: 3.5rem;
            right: 10rem;
        }

        .volumne_controls{
            top:0.8rem;
            input[type=range]{
                transform:rotate(270deg);
            }
            #sound{
                width:3.5rem;
            }
        }
    }

    
}
